.DS_Store
**/.DS_Store


frontend/.DS_Store
frontend/src/.DS_Store
frontend/src/assets/.DS_Store
frontend/src/assets/iconfonts/.DS_Store

frontend/node_modules/
frontend/package-lock.json


# Backend
backend/.DS_Store
backend/node_modules/
backend/node_modules/.package-lock.json
backend/package-lock.json
